@font-face {
    font-display: swap;
    font-family: Jost;
    font-style: normal;
    font-weight: 400;
    src: url('~assets/fonts/jost/jost-Light.ttf') format('truetype');
}

@font-face {
    font-display: swap;
    font-family: Jost;
    font-style: normal;
    font-weight: 500;
    src: url('~assets/fonts/jost/jost-Regular.ttf') format('truetype');
}

@font-face {
    font-display: swap;
    font-family: Jost;
    font-style: normal;
    font-weight: 600;
    src: url('~assets/fonts/jost/jost-Medium.ttf') format('truetype');
}

@font-face {
    font-display: swap;
    font-family: Jost;
    font-style: normal;
    font-weight: 700;
    src: url('~assets/fonts/jost/jost-Bold.ttf') format('truetype');
}

@font-face {
    font-display: swap;
    font-family: Jost;
    font-style: normal;
    font-weight: 800;
    src: url('~assets/fonts/jost/jost-ExtraBold.ttf') format('truetype');
}

.btn-primary, .btn-primary:hover, .btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle, button:focus:not(:focus-visible){
    background: #F20C49;
    border-radius: 30px;
    border: none;
}

body{
    overflow-x: hidden;
}

.slide-up {
    transform: translateY(0);
}

.slide-up.animate-active {
    transform: translateY(-100px);
}


.animate {
    transition-delay: .3s;
    transition-duration: 1s;
    transition-timing-function: all;
}

.slide-up {
    transform: translateY(0);
}

.slide-up.animate-active {
    transform: translateY(-100px);
}

.fade-in-right{
    transform: translate3d(20%, 0, 0);
    opacity: 0;
}

.fade-in-right.animate-active {
    transform: translate3d(0, 0, 0);
    opacity: 1;
}

.fade-in-left{
    transform: translate3d(-20%, 0, 0);
    opacity: 0;
}

.fade-in-left.animate-active {
    transform: translate3d(0, 0, 0);
    opacity: 1;
}

.fade-in-up{
    transform: translate3d(0, 40%, 0);
    opacity: 0;
}

.fade-in-up.animate-active {
    transform: translate3d(0, 0, 0);
    opacity: 1;
}

.fade-in-up-special{
    transform: translate3d(0, 200px, 0);
    opacity: 0;
}

.fade-in-up-special.animate-active {
    transform: translate3d(0, 0, 0);
    opacity: 1;
}

.fade-in-scroll {
    opacity: 0;
}
.fade-in-scroll.animate-active {
    display: block;
    opacity: 1;
}